---
layout: base.njk
bodyClass: "home-template has-side-about is-head-left-logo has-classic-feed"
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html"
---

<section class="site-about site-outer">
    <div class="site-about-inner site-inner">
        {% if site.about.image %}
        <img class="site-about-image" src="{{ site.about.image }}" alt="{{ site.title }}" width="1200" height="1600">
        {% endif %}
        <div class="site-about-content">
            <div class="site-about-content-inner">
                <h1 class="site-about-primary">{{ site.about.primary }}</h1>
                <p class="site-about-secondary">{{ site.about.secondary }}</p>
            </div>
        </div>
    </div>
</section>

<main id="site-main" class="site-main site-outer">
    <div class="site-feed site-inner">
        {%- for post in posts -%}
        <article class="site-card post{% if not post.data.image %} no-image{% endif %}{% if post.data.featured %} featured{% endif %}" {% if post.data.tags %}style="--tag-color: #0d1117;"{% endif %}>
            <a class="site-card-link" href="{{ post.url }}">
                {% if post.data.image %}
                <figure class="site-card-image">
                    <img
                        src="{{ post.data.image }}"
                        alt="{{ post.data.imageAlt or post.data.title }}"
                        loading="lazy"
                    >
                </figure>
                {% endif %}

                <div class="site-card-wrapper">
                    <h2 class="site-card-title">{{ post.data.title }}</h2>
                    {% if post.data.excerpt %}
                    <p class="site-card-excerpt">{{ post.data.excerpt }}</p>
                    {% endif %}
                    <footer class="site-card-meta">
                        <time class="site-card-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                        <span class="site-card-length">{{ post.data.length or (post.templateContent | readingTime) }}</span>
                    </footer>
                </div>
            </a>
        </article>
        {%- endfor -%}
    </div>

    {% if pagination.pages.length > 1 %}
    <div class="site-inner">
        <nav class="pagination" role="navigation">
            {% if pagination.href.previous %}
            <a class="newer-posts" href="{{ pagination.href.previous }}">‹ Newer Posts</a>
            {% else %}
            <div></div>
            {% endif %}
            <span class="page-number">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>
            {% if pagination.href.next %}
            <a class="older-posts" href="{{ pagination.href.next }}">Older Posts ›</a>
            {% else %}
            <div></div>
            {% endif %}
        </nav>
    </div>
    {% endif %}
</main>
